div {
	text-align: center;
}
label {
	display: none;
	cursor: pointer;
	font-size: 60px;
}
input:checked + label {
	display: inline-block;
}
input {
	display: none;
}
input[value="yes"] + label {
	color: darkgreen;
}
input[value="no"] + label {
	color: maroon;
}
input[value="off"] + label {
	color: grey;
}
div {
	-webkit-touch-callout: none;
   /* iOS Safari */
	-webkit-user-select: none;
   /* Safari */
	-khtml-user-select: none;
   /* Konqueror HTML */
	-moz-user-select: none;
   /* Firefox */
	-ms-user-select: none;
   /* Internet Explorer/Edge */
	user-select: none;
   /* Non-prefixed version, currently supported by Chrome and Opera */
}
